<a href="https://colab.research.google.com/github/MaryamNourii/Python-Learning/blob/Basic/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3-10

In [ ]:
my_str = "Hello, my name is Dana"

print(1, my_str[-1])
print(2, my_str[-3])
print(3, my_str[-6])
print(4, my_str[0])
print(5, my_str[1])
print(6, my_str[10])

1 a
2 a
3 s
4 H
5 e
6 n

**[start:stop:step]**

In [ ]:
my_str = "Hello, my name is Dana"

print(1, my_str[:10])
print(2, my_str[-4:])
print(3, my_str[:])
print(4, my_str[:10:2])
print(5, my_str[::2])
print(6, my_str[::])
print(7, my_str[::-1])

1 Hello, my
2 Dana
3 Hello, my name is Dana
4 Hlo y
5 Hlo ynm sDn
6 Hello, my name is Dana
7 anaD si eman ym ,olleH

3-11) Strings

In [ ]:
a = 'Dana'
b = 'Nouri'
c = a + b
print(c)

DanaNouri

In [ ]:
a = 'Dana'
b = 5
c = a + b * (' . ' + a)
print(c)

Dana . Dana . Dana . Dana . Dana . Dana

In [ ]:
a = 'Hi, \nDana Nouri'
print(1, a)

a = 'Hi, \'Dana\' \"Nouri\"'
print(2, a)

a = 'Hi,\tDana Nouri'
print(3, a)

a = 'Hi,\\nDana Nouri'
print(3, a)

1 Hi,
Dana Nouri
2 Hi, 'Dana' "Nouri"
3 Hi,	Dana Nouri
3 Hi,\nDana Nouri

In [ ]:
my_str = "Hello, my name is Dana"
my_str[4] = 'T'

TypeError: 'str' object does not support item assignment

In [ ]:
a = my_str[:4] + 'T' + my_str[5:]
print(a)

HellT, my name is Dana

In [ ]:
print(1, my_str.upper())
print(2, my_str.lower())
print(3, my_str.split(' '))
print(4, my_str.split('e'))

1 HELLO, MY NAME IS DANA
2 hello, my name is dana
3 ['Hello,', 'my', 'name', 'is', 'Dana']
4 ['H', 'llo, my nam', ' is Dana']

**3-14)LISTS**
 a data structure in Python that is a mutable, or changeable, ordered sequence of elements

> Indented block

In [ ]:
list1 = [13, 'Hello', 18.1, "c", 1000000]
list1

[13, 'Hello', 18.1, 'c', 1000000]

In [ ]:
list2 = [1, 2, 3, 4, 5]
list3 = list1 + list2
print(1, list3)
print(2, list1[:3])
print(3, list1[2:5])
print(4, list1[:])
print(5, len(list1[:]))

1 [13, 'Hello', 18.1, 'c', 1000000, 1, 2, 3, 4, 5]
2 [13, 'Hello', 18.1]
3 [18.1, 'c', 1000000]
4 [13, 'Hello', 18.1, 'c', 1000000]
5 5

In [ ]:
list2 = [1, 2, 3, 4, 5]
list2[3] =  '1a'
print(1, list2)

1 [1, 2, 3, '1a', 5]

In [ ]:
list2.append("2b")
list2.append("3c")

print(list2)

[1, 2, 3, '1a', 5, '2b', '2b', '3c', '2b', '3c']

In [ ]:
pop1 = list1.pop(0)
print(pop1, list1)

Hello [18.1, 'c', 1000000]

In [ ]:
list2 = [11, 1, 5 ,2, 3, 40, 4, 5]
list2.sort()# inplace
list2

[1, 2, 3, 4, 5, 5, 11, 40]

In [ ]:
list2.reverse()# inplace
list2

[40, 11, 5, 5, 4, 3, 2, 1]

In [ ]:
max(list2), min(list2)

(40, 1)

**Dictionary** : a kind of data structure that stores items in key-value pairs,  unordered

In [ ]:
my_dict = {'k1' : 'one', 'k2' : 2, 'k3' : [4, 5, 6]}
my_dict1 = {'k1' : "Hello", "k2": [1,2,3], 'k3' : my_dict}

my_dict1['k1'], my_dict1['k3']['k1'], my_dict1['k3']['k3'][2]

('Hello', 'one', 6)

In [ ]:
my_stud = {
    'name' : "Ali",
    'age' : 30,
    'mark' : 19
    }

my_stud["name"]

'Ali'

In [ ]:
my_stud["gender"] = 'Male'
my_stud

{'name': 'Ali', 'age': 30, 'mark': 19, 'gender': 'Male'}

In [ ]:
my_stud.keys(), my_stud.values()

(dict_keys(['name', 'age', 'mark', 'gender']),
 dict_values(['Ali', 30, 19, 'Male']))

In [ ]:
my_stud.items()

dict_items([('name', 'Ali'), ('age', 30), ('mark', 19), ('gender', 'Male')])

Tuple : a type of data structure that is very similar to lists but is immutable, or unchangeable, ordered sequence of elements

In [ ]:
my_tuple = (1, 2, 3, 'Hello')
print(len(my_tuple))

4

In [ ]:
print(my_tuple[0])
print(my_tuple[1:3])
print(my_tuple[:-2])

my_tuple[1] = "hi"

1
(2, 3)
(1, 2)

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple1 = ()
my_tuple2 =(12,)

print(my_tuple1)
print(my_tuple2)

()
(12,)

**Set : a data structure thst iterable, with unique elements, unordered**

In [ ]:
a = set()
a.add(1)
a.add(3)
a.add(4)
a.add(3)
a.add(2)
a.add(1)
print(a)

{1, 2, 3, 4}

In [ ]:
my_list = [1, 2, 3, 4, 5, 4, 4, 4, 4, 5, 7, 1]
a = set (my_list)
print(a)
print(list(a))

{1, 2, 3, 4, 5, 7}
[1, 2, 3, 4, 5, 7]

3-19

In [ ]:
my_int = 23
my_float = 24.5
my_string = "Hello"
my_list = [1,2,3,"hello"]
my_dict = {'k1' : 0, 'k2' : 1}
my_tuple = (1,2,3,"Hi")
my_tuple1 = (1)
my_set = {1,2,3,4,5,6,7,"Dana"}
my_boolean = True

print(type(my_int))
print(type(my_float))
print((type(my_string)))
print((type(my_list)))
print((type(my_dict)))
print((type(my_tuple)))
print((type(my_tuple1)))
print((type(my_set)))
print((type(my_boolean)))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'int'>
<class 'set'>
<class 'bool'>

3-20) String format

In [ ]:
print("My {} is {}, I'm {}".format("name", "Dana", 38))

My name is Dana, I'm 38

In [ ]:
print("My {0} is {2}, I'm {1}".format("name", 38, "Dana"))

My name is Dana, I'm 38

In [ ]:
print("My name is {name}, I'm {age}".format(age = 38,name = "Dana"))

My name is Dana, I'm 38

In [ ]:
print("{name}'s {obj} is {color}".format(name = "Dana", obj = "bag", color = "blue" ))

Dana's bag is blue

In [ ]:
print("my score is {my_score:10.2f}".format(my_score = 18.75))

my score is      18.75

python 3.6 later

In [ ]:
name = 'Dana'
item = 'car'
color = 'blue'

print(f"{name}'s {item} is {color}")

Dana's car is blue

3-21) User Input

In [ ]:
user_name = input("please enter you'r name:")
user_age = input("please enter you'r age:")

print(f"you'r name is {user_name} and you'r {user_age}")
print(type(user_age))
print(user_age + 1)

please enter you'r name:Dana
please enter you'r age:37
you'r name is Dana and you'r 37
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(int(user_age)+1)

38

In [ ]:
my_num = int(123.6)
print(my_num, type(my_num))

my_num = float(123)
print(my_num, type(my_num))

123 <class 'int'>
123.0 <class 'float'>

In [ ]:
my_dict = {'k1' : 'v1', 'k2' : 'v2'}
print(my_dict.keys())
print(my_dict.values())
print(list(my_dict.keys()))
print(list(my_dict.values()))

dict_keys(['k1', 'k2'])
dict_values(['v1', 'v2'])
['k1', 'k2']
['v1', 'v2']

In [ ]:
my_list=[2,1,4,6,3,8,5]
new_list = my_list.sort()
print(new_list, type(my_list), type(new_list))

None <class 'list'> <class 'NoneType'>

In [ ]:
x = 123
x += 10
x *= 10
x /= 10
x -= 10

print(x)

123.0

**Conditions**

In [ ]:
my_score = 18

if my_score == 20:
  print("awsome")
elif my_score == 18:
  print("good")
elif my_score == 15:
  print("not bad")
else:
  print("bad")

good

**In** operator

In [ ]:
str1 = input("Enter a word.")
str2 = "this bag is very beuatiful."

if str1 in str2:
  print("yes, There is.")
else :
  print("Noooo")


t1 = (1, 2, 3, 4, 100)
a = 10
if a in t1:
  print("yes, There is.")
else :
  print("Noooo")


l1 = [1, 2, 5, 3, 4, 100]
a = 5
if a not in l1:
  print("Noooo")
else :
  print("yes, There is.")


my_stud = {
    'name' : "Ali",
    'age' : 30,
    'mark' : 19
    }
a = 'name'
if a in my_stud.keys():
  print("yes, There is.")
else :
  print("Noooo")

Enter a word.a
yes, There is.
Noooo
yes, There is.
yes, There is.

In [ ]:
#Rock, Paper, Scissors

import random

choices = ['r', 'p', 's']

choice_meaning = {
    'r': 'Rock',
    's': 'Scissors',
    'p': 'Paper'
}

user_choice = input('Select from Rock, Paper, Scissors: (r, p, s) ')

ai_choice = random.choice(choices)

if user_choice in choices:
    print(f'Your choice is {choice_meaning[user_choice]}. AI choice is {choice_meaning[ai_choice]}.')
    # r > s - p > r - s > p
    if user_choice == ai_choice:
        print('Tie')
    elif user_choice == 'r' and ai_choice == 's':
        print('You Won!')
    elif user_choice == 'p' and ai_choice == 'r':
        print('You Won!')
    elif user_choice == 's' and ai_choice == 'p':
        print('You Won!')
    else:
        print('You Lost!')
else:
    print('Invalid input')

**Loops**

In [ ]:
l1 = [1, 2, 5, 3, 4, 100]
for l in l1:
  print(l)

str = "I love python"
for a in str:
  print(a)

t1 = (1, 2, 3, 4, 100)
for t in t1:
  print(t)


my_stud = {
    'name' : "Ali",
    'age' : 30,
    'mark' : 19
    }
for a in my_stud.items():
  print(a)

for a in my_stud.keys():
  print(a)

for a in my_stud.values():
  print(a)

1
2
5
3
4
100
I

l
o
v
e

p
y
t
h
o
n
1
2
3
4
100
('name', 'Ali')
('age', 30)
('mark', 19)
name
age
mark
Ali
30
19
name Ali
age 30
mark 19

In [ ]:
#unpaking
for (key, value) in my_stud.items():
  print(key, value)

name Ali
age 30
mark 19

In [ ]:
scores = [("Ali", 10), ("mohamad", 15),("hassan", 18)]
for name, score in scores:
  print(f"{name}'s score is {score}")

Ali's score is 10
mohamad's score is 15
hassan's score is 18

In [ ]:
#while : when condition is true do somthing else do somthing
i = 0
while i <= 5:
  if i % 2 == 0:
    print(i)
  i += 1
else:
  print("i > 5")

0
2
4
i > 5

In [ ]:
i = 0
while i <= 5:
  print(i)
  if i == 3 :
    break
  i += 1
else:
  print("i > 5")

0
1
2
3

In [ ]:
str = input("Enter here:")
while str != 'exit':
  print(str)
  str = input("Enter another one:")

Enter here:s
s
Enter another one:exit

In [ ]:
for num in [1,2,3,4,5,6,7]:
  if num == 4 :
    continue
  print(num)

1
2
3
5
6
7

In [ ]:
print('Start')
for num in [1,2,3,4,5,6,7]:
  pass

# i=0
# while i==0:
#   pass

if i== 5:
  pass


if i== 5:
  i += 1
else:
  pass

print('End')

Start
End

In [ ]:
for _ in [1,2,3]:
  print("hello")

hello
hello
hello

In [ ]:
for i in range(5):
  print(i)

print("\n\n")

for i in range(1,10,2):# start, stop, step
  print(i)


print(range(1,6)) # range is a generator

0
1
2
3
4



1
3
5
7
9
range(1, 6)

In [ ]:
numbers = [13, 15 , 17, 20, 19, 10]
result = 0
for num in numbers:
  result += num
print("result", result)
avrage = result/len(numbers)
print("avrage", avrage)

sum_ 94
avrage 15.666666666666666

In [ ]:
numbers = [13, 15 , 17, 20, 19, 10]
avrage = sum(numbers)/len(numbers)
print("avrage", avrage)

avrage 15.666666666666666

In [ ]:
num = int(input("Enter a number:"))
res = 0
while num != 0:
  res += num % 10
  num //= 10
print(res)

print("\n\n")

user_input = input("Enter a number:")
res = 0
for i in user_input:
  res += (int(i))
print(res)

Enter a number:1234
10
Enter a number:1234
10

In [ ]:
names = ["Ali", "mohamad", "hassan"]
scores = [ 10, 15, 18]

for item in zip(names, scores):
  print(item)

print("\n\n")

for item in zip(names, scores):
  print(item[0])

print("\n\n")

for name,score in zip(names, scores):
  print(name, score)

print("\n\n")

ages = [ 16, 17, 18]
for name,score, age in zip(names, scores, ages):
  print(f'name = {name}, score = {score} , age = {age}')

('Ali', 10)
('mohamad', 15)
('hassan', 18)



Ali
mohamad
hassan



Ali 10
mohamad 15
hassan 18
name = Ali, score = 10 , age = 16
name = mohamad, score = 15 , age = 17
name = hassan, score = 18 , age = 18

In [ ]:
names = ["Ali", "mohamad", "hassan"]

for item in enumerate(names):
  print(item)
print("\n\n")


for i, name in enumerate(names):
  print(f'{i+1}, name = {name}')
print("\n\n")

for i, name in enumerate(names):
  print(f'name = {name}, score = {scores[i]} , age = {ages[i]}')

(0, 'Ali')
(1, 'mohamad')
(2, 'hassan')



1, name = Ali
2, name = mohamad
3, name = hassan



name = Ali, score = 10 , age = 16
name = mohamad, score = 15 , age = 17
name = hassan, score = 18 , age = 18

In [ ]:
print(list(zip(names, scores, ages)))
print(list(range(1,10,2)))

[('Ali', 10, 16), ('mohamad', 15, 17), ('hassan', 18, 18)]
[1, 3, 5, 7, 9]

In [ ]:
list_of_num = []
print("Enter student scores.\n")
while True:
  user_num = input("Enter a number: ")
  if user_num == 'exit':
    break
  list_of_num.append(int(user_num))

print(f'student avrage is : {sum(list_of_num)/len(list_of_num)}')

Enter student scores.

Enter a number: 12
Enter a number: 14
Enter a number: 16
Enter a number: 19
Enter a number: 11
Enter a number: exit
student avrage is : 14.4

5-practicessssssss I didn't them

**Functions**

In [ ]:
def do_somthing():
  pass

In [ ]:
def check_even_in_List(list_of_nums):
  for num in list_of_nums:
    if num % 2 == 0:
      return True
  return False


check_even_in_List([1,2,3,4,5,6])

True

In [ ]:
def check_even_in_List(list_of_nums):
  res = []
  for num in list_of_nums:
    if num % 2 == 0:
      res.append(num)
  return res


check_even_in_List([1,2,3,4,5,6])

[2, 4, 6]

In [ ]:
def cala_sum_sub(num1, num2):
  sum_res = num1 + num2
  sub_res = num1 - num2
  return (sum_res, sub_res)
res_sum, res_sub =  cala_sum_sub(10, 4)
print(res_sum, res_sub)

print("\n\n")


def cala_sum_sub(num1, num2):
  return ( num1 + num2, num1 - num2)
(res_sum, res_sub ) =  cala_sum_sub(10, 4)
print(res_sum, res_sub)


print("\n\n")


def cala_sum_sub(num1, num2):
  return num1 + num2, num1 - num2
print(cala_sum_sub(10, 4))

14 6



14 6



(14, 6)

In [ ]:
def max_str_len(list_of_str):
  final_res = ''
  for str in list_of_str:
    if len(str) >= len(final_res):
      final_res = str

  return final_res, len(final_res)

list_of_str = ['hi', 'hello', 'somthing', 'how', 'me', 'nothing']
str_res, len_str_res = max_str_len(list_of_str)
print(str_res, len_str_res)



str_res, len_str_res, str_index = max_str_len(list_of_str)

somthing 8

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
def is_even(num):
  if num % 2 == 0:
    return True
  return False

def return_all_even(list_of_nums):
  res_even = []
  res_odd = []
  for num in list_of_nums:
    if is_even(num):
      res_even.append(num)
    else:
      res_odd.append(num)
  return res_even, res_odd

return_all_even([1,2,3,4,5,6])

([2, 4, 6], [1, 3, 5])

In [ ]:
def get_input():
  list_of_inputs = []
  print("Enter a word.\n")
  while True:
    user_input = input("Enter another word: ")
    if user_input == 'done':
      break
    list_of_inputs.append(user_input)
  return list_of_inputs

def max_min_str(user_inputs):
  max = ''
  min = user_inputs[0]
  for str in user_inputs:
    if len(str) >= len(max):
      max = str
    elif len(str) < len(min):
      min = str
  return max, min


user_inputs = get_input()
max_min_str(user_inputs)

Enter a word.

Enter another word: hassan
Enter another word: mamad
Enter another word: ali
Enter another word: mohamad reza
Enter another word: mehdi
Enter another word: reza
Enter another word: done

('mohamad reza', 'ali')

In [ ]:
def cala_sum_sub(name, eye_color, age):
  return f"{name}'s eye's color is {eye_color}.{name}'s {age}"

print(cala_sum_sub('ali','brown',14))
print(cala_sum_sub(eye_color = 'brown', age = 14, name = 'ali'))
print(cala_sum_sub('ali', eye_color = 'brown', age = 14))
print(cala_sum_sub('ali', 'brown', age = 14))

# print(cala_sum_sub( 'ali', eye_color = 'brown',  14))

ali's eye's color is brown.ali's 14
ali's eye's color is brown.ali's 14
ali's eye's color is brown.ali's 14
ali's eye's color is brown.ali's 14

**#args, kwargs**

In [ ]:
#args
def func(*args):
  print(args, type(args))

func(1,2,3,4,5,6,"a",'c')

print("\n\n")

def sum_nums(*args):
  res = 0
  for n in args:
    res += n
  return res

print(sum_nums(1,2,3,4,5,6))

print("\n\n")

def sum_nums(*nums):
  res = 0
  for n in nums:
    res += n
  return res

print(sum_nums(1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6, 'a', 'c') <class 'tuple'>



21



21

In [ ]:
#kwargs
def func(**kwargs):
  print(kwargs, type(kwargs), kwargs['d'], kwargs.items)

func(a=1,b=2,c="a",d='50')

def func(*args,**kwargs):
  print(args, kwargs)

func(10, 20, a=1,b=2,c="a",d='50')
# func(a=1,b=2,c="a",d='50', 10, 20)

{'a': 1, 'b': 2, 'c': 'a', 'd': '50'} <class 'dict'> 50
(10, 20) {'a': 1, 'b': 2, 'c': 'a', 'd': '50'}

In [ ]:
def calc_bank_rate(init_money, num_of_year, rate = 0.2):
  res = init_money
  for n in range(num_of_year):
    res *= (1 + rate)
  return res

print(calc_bank_rate(10000, 1, 0.2))
print(calc_bank_rate( num_of_year = 1, init_money= 10000))

12000.0
12000.0

In [ ]:
type(calc_bank_rate)

function

built-in functions

In [ ]:
# print()
# max()
# min()
# sum()
# len()
type(len)


# print = "1234"  is not correct
len = 10  # is not correct
del len # remove len from memory
my_list = [1,2,3,4,5]
print(len(my_list))

5

Triple quoted strings using for doc Strings

In [ ]:
str1 = '1)hel"looooolll'
str2 = "2)hel\"loo"
str3 = "3)hel'looooolll"

str4 = """4)hello'hel"lo
hiiiii
I'm Reza"""

str5 = '''5)hello'hel"lo
hiiiii
I'm Reza'''

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

1)hel"looooolll
2)hel"loo
3)hel'looooolll
4)hello'hel"lo
hiiiii
I'm Reza
5)hello'hel"lo
hiiiii
I'm Reza

In [ ]:
def custom_function(my_tuple):
  return my_tuple[1]

my_list = [('Ali', 90), ('hassan', 20), ('reza', 79)]
my_list.sort(key=custom_function)
my_list

[('hassan', 20), ('reza', 79), ('Ali', 90)]